#maindiv{
	float:none;
	margin: 0 auto;
	padding-top: 0px;
	/*border: 1px solid gray;*/
    width: 106%;
    /* padding-top: 29px; */
    margin-top: 10px;
   /* border-radius: 43px;*/
   padding-right: 0px;
    padding-left: 0px;
    margin-left: -13px;
}
.ndiv {
    background: #167F92;
    padding: 9px;
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 33.33%;
    font-size: 16px;
}
.ndiv1 {
    background: white;
    padding: 9px;
    border: 1px solid white;
    color: black;
    text-align: center;
   /* height: 100px;*/
    width: 33.33%;
    font-size: 16px;
}
.ndiv2 {
    background: #EAF3F3;
    padding: 9px;
    border: 1px solid white;
    color: black;
    text-align: center;
   /* height: 100px;*/
    width: 33.33%;
    font-size: 16px;
}
.indiv{
	font-size: 16px;
    margin: 0px;
    padding: 2px 6px 0px 6px;
    font-family: 'MONTSERRAT', sans-serif;
    margin-left: 27px;
}
.indiv2{
  margin-top: 15px;
}
.secdiv{
    background-color: white;
    box-shadow: 8px 8px 7px rgba(8, 95, 115, 0.15);
    
    margin-bottom: 8px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 0px 17px 17px 17px;
}



responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;

}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: center;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

button#myButton1 {
    background: none;
    border: none;
    padding-left: 14px;
}
button#myButton2 {
    background: none;
    border: none;
    padding-left: 20px;
}
button#myButton3 {
    background: none;
    border: none;
    padding-left: 20px;
}

#selbox{
  background: #167f92;
    border: none;
}